.header {
  display: flex;
}

.avatar {
  margin-top: 16px;
  margin-right: 8px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: fill;
  outline: 2px solid #000;
  outline-offset: -4px;
  border: 2px solid #ffa326;
}

.primary {
  color: #ffa326;
}

.secondary {
  color: grey;
}

.App {
  margin: 1rem;
}

small {
  margin-left: 4px;
}

h1 {
  font-size: 24px;
  margin-bottom: 6px;
}

h2 {
  margin-top: 60px;
  font-size: 20px;
}

h3 {
  font-size: 18px;
  margin-top: 40px;
}

h4 {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0.4rem;
}

p {
  font-size: 12px;
}

.description {
  font-size: 12px;
}

.bold {
  font-weight: 700;
}

.skill {

}

.done {
  margin-left: 14px;
}



.footer_about_sns {
  font-size:0;
}
.footer_sns_item {
  display:inline-block;
  vertical-align:top;
}


.footer_sns_item:before {
  content: "";
}

.type_instagram {

}

.footer_sns_item.type_instagram:before {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  background-image: url(https://ik.imagekit.io/crso3ztbifq/portfolio/sp_header_190503_03153336_P9vVObOai.svg?updatedAt=1710553405835), none;
  background-size: 166px 141px;
  background-position: -90px -116px;
}

.blind {
  overflow: hidden !important;
  position: absolute !important;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  font-size: 1px !important;
  line-height: 1px !important;
  color: transparent !important;
}


.center {
 vertical-align: auto;
}

.maple-video-wrapper {
  display: flex;
}
.maple-video {
  width: 25%;
  height: 50%;
  margin: 2px;
}

@media only screen and (max-width: 375px){
  .maple-video-wrapper {
    flex-direction: column;
  }

  .maple-video {
    width: 80%;
    height: 50%;
  }
}
